/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$1.class.uniqueId0
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$2.class.uniqueId1
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$3.class.uniqueId5
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$ConnectionListener.class.uniqueId6
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$DataListener.class.uniqueId3
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$MuseL.class.uniqueId2
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity.class.uniqueId4
