/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$1.class.uniqueId0
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$2.class.uniqueId1
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$3.class.uniqueId5
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$ConnectionListener.class.uniqueId6
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$DataListener.class.uniqueId3
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity$MuseL.class.uniqueId2
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainActivity.class.uniqueId4
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0evkd3mO4_Kfuaw94qXTF83Adtw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3Mj1aZL82i1ckQcFS1M1cn4T8KU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7+9x9lgdSbr1BfmjDWxqvJwAXFs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7PFHp1w5HHXNm24EOBneF4s5aPw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_2NvScbgy6ukl4m7f+NJfDZizVg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/aWSPKzii91yq1_EmLd0YsTt2SiA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/CPSJ_MGaMXoAvCIGbCiop4H5av8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cZaPSVbRCXMUPMxWJxRSNRQmw+U=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Dfa7u6EdUe0EbVGFhM22I8r3KLc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dzNr0rNSIZ7t_MrSqgJgYNPuUtQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EFew7vwa_3XDFOMcjXKyb7jgo6U=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fbxse_TtK8GYx09XAZ4hHjLfsY8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gknHZjEDNPR4LWuR2hPIBIXo5tk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ia_CimukGWtDbzEAoc9_nHjwz9Q=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/K_n3ZN_JrYAe3iTCQnrhbB9MFFI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kc0oSkar4Sqw0DnIRylHsxXvrsM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kvnwh7fcABOMIupahifmjBpBCCg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lcrhWr__06NzwCr9wxbL0i2vsbA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lO0wlkOn_94rrkpokv_sgFvMBmw=
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/choosemuse/example/libmuse/LowPassFilter.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/choosemuse/example/libmuse/LowPassFilter.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/oHpAio0ha6bGsVLMpPINVLwwUAY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PZrqpNohaMmT1I2QdR7IY1ClNkA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SC7ya1nIIGZRUIPt2MErdIRf_0Q=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TGKM2waq61_7ZpHk4LdrCH68yLM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TPLTjilbBItJS1AMLIs+tsC7EHA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/uGyzMqhFX+6hAOnHWR0w8qDO4Rg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/vH24CRa_WzutoCsVHBzGPfjD38s=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/X4DbrwVd0OIjTWnQPMR+lBdCJH8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/x4ggW7JtBrjp3LHu5lGeyiCH3_k=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/X64GLHamVKa7MtK1pstCeZYwDQ8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xCUqJ_69kfTrHnzxsmFrGzWaYvI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xYxJFqiC1Muw2FJUenn90dR6yKA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yJaSzLVVU9MDgsAV7YonSyeFhDA=
